body {
    font-family: 'Prompt', sans-serif;
}

.table {
    font-size: 12px;
}

#hisMenu {
    padding: 0;
}

#mapBox {
    margin: 0;
    padding: 0;
    height: calc(100vh - 64px);
}

.tooltip-realtime {
    font-size: 12px;
    text-shadow: 1px 1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, -1px -1px 0 #ffffff, 1px 0px 0 #ffffff, 0px 1px 0 #ffffff, -1px 0px 0 #ffffff, 0px -1px 0 #ffffff, 1px 1px 1px rgba(70, 206, 0, 0);
    /* color: red; */
    font-weight: bold;
    /* font-family: cursive; */
    background: none;
    /* background-color: white; */
    border: none;
    /* border-color: black; */
    box-shadow: none;
    cursor: none;
    /* margin: ; */
}

.popup-realtime {
    font-size: 14px;
}

.leaflet-tooltip-bottom:before {
    border: none;
}