.marginMap {
    margin: 0;
    padding: 0;
    height: calc(100vh - 64px - 3vh);
}

.margin-form {
    margin-left: 10px;
    margin-top: 10px;
}

#table-list {
    border-style: solid;
    border-color: #51596a;
}