.table-fixed table {
    z-index: 99999;
    /* position: static; */
}

.table-fixed tbody {
    height: calc(100vh - 10vh - 64px - 45px - 3vh);
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block
}

.table-fixed tr:after {
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
}

.table-fixed tbody td,
.table-fixed thead>tr>th {
    float: left;
}

.table>thead>tr>th,
.table>thead>tr>td {
    font-size: 1.1em;
    font-weight: 400;
    border-bottom: 0;
    letter-spacing: 1px;
    vertical-align: top;
    padding: 8px;
    background: #273E2C;
    /* text-transform: uppercase; */
    color: #ffffff;
}